@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="machine">
  <h2>Edit</h2>
  <h4>Edit this Machine's information: @Html.DisplayFor(model => model.Name)</h4>
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.MachineId)
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    <input type="submit" value="Save" />
  }
  <br>
  <div id="nav-links">
    <p>@Html.ActionLink("Back To List of Machines", "Index")</p>
  </div>
</div>